/* Component Colors */
$primary-accent: #7FDEC2;

/* Text Color */
$base-text-clr: #000000;
$base-text-complement: #FFFFFF;

$primary-body-text-clr: lighten($base-text-clr, 30%);
$link-clr: #79DAF8;

/* Button Colors */

$btn-colors : ('default': #79DAF8,
'success': #7EC989,
'error': #D67B7C,
'warning': #ED7F5F,
'info': #8E7DBC,
);

/* Grid Colors */
$grid-12-bg-clr: #99E5D2;
$grid-8-bg-clr: #F0A38A;
$grid-7-bg-clr: #E1A2A4;
$grid-6-bg-clr: #5DA9C6;
$grid-4-bg-clr: #97E4FA;
$grid-3-bg-clr: #d7b5ea;
$grid-5-bg-clr: #9AD6A5;

$breakpoints: (
    'mobile': 768px,
    'desktop': 1024px,
);