/* Component Colors */
$primary-accent: #7FDEC2;

/* Text Color */
$base-text-clr: #000000;
$base-text-complement: #FFFFFF;

$primary-body-text-clr: lighten($base-text-clr, 40%);
$link-clr: #79DAF8;

$btn-types : ('default',
'success',
'error',
'warning',
'info',
);

/* Button Colors */

$btn-colors : ('default': #79DAF8,
'success': #7EC989,
'error': #D67B7C,
'warning': #ED7F5F,
'info': #8E7DBC,
);

/* Grid Colors */
$grid-colors : ('.grid__col--12': #99E5D2,
'.grid__col--8': #F0A38A,
'.grid__col--7': #E1A2A4,
'.grid__col--6': #5DA9C6,
'.grid__col--4': #97E4FA,
'.grid__col--3': #D7B5EA,
'.grid__col--5': #9AD6A5);

$grid-text-clr: #7F7D7E;

$breakpoints: ('mobile': 768px,
'desktop': 1024px,
);
