@import url('https://fonts.googleapis.com/css?family=Hind|Montserrat');

$heading-font: 'Montserrat',
sans-serif;
$body-font: 'Hind',
sans-serif;

nav {
    a {
        font-family: $heading-font;
    }
}

p {
    font-family: $body-font;
}

.blockquote {
    font-family: $body-font;
    color: $primary-body-text-clr;
    margin-bottom: 1em;
}

.headline--primary,
.headline--secondary {
    font-family: $heading-font;
    margin-left: 15px;
}

.headline--primary {
    color: $primary-accent;
}

.headline--secondary {
    color: $primary-body-text-clr;
}

[class^=grid__col]{
    font-family: $body-font;
    color: $grid-text-clr;
}